
@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using DoAnChuyenNganh_WebNhaThuoc.Models;
@model List<KhachHang>

<body>
    <section style="margin-top:-100px;">
        @if (ViewBag.ErrorMessage != null)
        {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
        }
        <div style="margin-bottom:30px;" class="d-flex align-items-center">
            <h2 class="text-dark font-weight-bold">Danh sách khách hàng</h2>
        </div>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="table table-bordered">
                <colgroup>
                    <col width="4.1%">
                    <col width="17.6%">
                    <col width="11.6%">
                    <col width="9.6%">
                    <col width="17.8%">
                    <col width="14.3%">
                    @*<col width="12.1%">*@
                    <col width="9.6%">
                    <col width="12.9%">
                </colgroup>
                <thead class="table-primary text-dark" style="text-align:center;">
                    <tr style="height: 85px;">
                        <th class="u-align-center u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell">Mã Khách Hàng</th>
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-2">Tên Khách Hàng</th>
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-3">Địa Chỉ</th>
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-4">Số Điện Thoại</th>
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-5">Email</th>
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-6">Username</th>
                        @*<th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-7">PASSWORD</th>*@
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-5">Trạng thái</th>
                        <th class="u-border-1 u-border-grey-30 u-custom-font u-font-oswald u-table-cell u-table-cell-8"></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody class="u-align-center u-custom-font u-font-oswald u-table-body text-black">
                        <tr style="height: 100px;">
                            <td class="u-align-left u-border-1 u-border-grey-30 u-first-column u-table-cell u-table-cell-9">@item.MaKH</td>
                            <td class="u-align-left u-border-1 u-border-grey-30 u-table-cell u-table-cell-10">@item.TenKH</td>
                            <td class="u-align-center u-border-1 u-border-grey-30 u-table-cell u-table-cell-11">@item.DiaChi</td>
                            <td class="u-align-center u-border-1 u-border-grey-30 u-table-cell u-table-cell-12">@item.SDT</td>
                            <td class="u-align-left u-border-1 u-border-grey-30 u-table-cell u-table-cell-13">@item.Email</td>
                            <td class="u-align-left u-border-1 u-border-grey-30 u-table-cell u-table-cell-14">@item.UserName</td>
                            @*<td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-15">@item.TaiKhoan.Password</td>*@
                            <td class="u-align-left u-border-1 u-border-grey-30 u-table-cell u-table-cell-13">
                                @{
                                    if (item.TrangThai)
                                    {
                                        <span>Hoạt động</span>
                                    }
                                    else
                                    {
                                        <span>Đã khóa</span>
                                    }
                                }
                            </td>
                            <td style="text-align:center;">
                                <a href="#" class="btn btn-secondary" style="margin-bottom:10px;"
                                    data-toggle="modal" data-target="#updateModal-@item.MaKH.Replace(" ", "-").Replace("#", "")" data-maloai="@item.MaKH">
                                    <i class="icon icon-pencil"></i>
                                </a>
                                <!-- Modal cho sản phẩm cụ thể -->
                                <form method="post" action="/QuanLy/SuaKH" enctype="multipart/form-data">
                                    <div class="modal fade" style="margin-top:60px;" id="updateModal-@item.MaKH.Replace(" ", "-").Replace("#", "")" data-maloai="@item.MaKH" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="addProductModalLabel">Cập Nhật Trạng Thái Hoạt Động</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-xl-left" style="color:gray;">
                                                    <!-- Hiển thị thông tin sản phẩm -->
                                                    <p>Mã Khách Hàng: <span style="color:black;"> @item.MaKH </span></p>
                                                    <input type="hidden" name="MaKH" value="@item.MaKH">

                                                    <p>UserName: <span style="color:black;"> @item.UserName </span></p>
                                                    <input type="hidden" name="UserName" value="@item.UserName">

                                                    <p>Tên Khách Hàng: <span style="color:black;"> @item.TenKH </span></p>
                                                    <input type="hidden" name="TenKH" value="@item.TenKH">

                                                    <p>Địa Chỉ: <span style="color:black;"> @item.DiaChi </span></p>
                                                    <input type="hidden" name="DiaChi" value="@item.DiaChi">

                                                    <p>Số Điện Thoại: <span style="color:black;"> @item.SDT </span></p>
                                                    <input type="hidden" name="SDT" value="@item.SDT">

                                                    <p>Email: <span style="color:black;"> @item.Email </span></p>
                                                    <input type="hidden" name="Email" value="@item.Email">

                                                    <p>Trạng Thái:</p>
                                                    <div>
                                                        <input type="radio" id="true" name="TrangThai" value="true" @(item.TrangThai == true ? "checked" : "") />
                                                        <label for="true"><span style="color:black;">Hoạt động</span></label>
                                                        <input type="radio" id="false" name="TrangThai" value="false" @(item.TrangThai == false ? "checked" : "") />
                                                        <label for="fale"><span style="color:black;">Đã khóa</span></label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-danger">Lưu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <a href="#" class="btn btn-danger" style="margin-bottom:10px;"
                                   data-toggle="modal" data-target="#deleteModal-@item.MaKH.Replace(" ", "-").Replace("#", "")" data-maloai="@item.MaKH">
                                    <i class="icon icon-delete_sweep"></i>
                                </a>
                                <!-- Modal cho sản phẩm cụ thể -->
                                <form method="post" action="/QuanLy/XoaKH" enctype="multipart/form-data">
                                    <div class="modal fade" style="margin-top:60px;" id="deleteModal-@item.MaKH.Replace(" ", "-").Replace("#", "")" data-maloai="@item.MaKH" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-black font-weight-bold" id="addProductModalLabel">Xóa Khách Hàng</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-xl-left" style="color:gray;">
                                                    <!-- Hiển thị thông tin sản phẩm -->
                                                    <p>Bạn có đồng ý xóa khách hàng<span style="color:black;"> @item.TenKH </span> không?</p>
                                                    <input type="hidden" name="MaKH" value="@item.MaKH">
                                                    <input type="hidden" name="UserName" value="@item.UserName">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </section>
</body>

@{
    if (TempData["LoginMessage"] == "1")
    {
        <script>
            alert("Chỉnh sửa trạng thái hoạt động thành công.");
        </script>
    }
    else
    {
        if(TempData["LoginMessage"] == "2")
        {
            <script>
                alert("Xóa khách hàng thành công.");
            </script>
        }
    }
}